.toggle {
  --border-style: none;
  --padding-end: 0.5rem;

  &__label {
    font-size: 0.9rem;
    font-weight: 600;
  }

  &__element {
    --background: var(--ion-color-light-shade);
    --handle-background: var(--ion-color-medium-shade);
  }
}
