.input {
  --padding-end: 1rem;

  ion-input {
    font-size: 0.9rem;

    ion-icon {
      margin-right: 0.75rem;
      font-size: 1.1rem;
    }
  }

  &__error {
    position: absolute;
    font-size: 8px;
    color: var(--ion-color-danger);
    bottom: 2px;
    left: 30px;
  }
}
