<ion-item class="input" [formGroup]="form">
  <ion-input [formControlName]="controlName" [type]="type" [placeholder]="placeholder" [color]="color">
    <ion-icon *ngIf="icon" [name]="icon" slot="start"></ion-icon>
  </ion-input>
  <span class="input__error" *ngIf="submitted && fc[controlName].errors?.required">
    Campo obligatorio
  </span>
  <span class="input__error" *ngIf="submitted && fc[controlName].errors?.email">
    Formato email incorrecto
  </span>
  <span class="input__error" *ngIf="submitted && fc[controlName].errors?.minlength">
    Máx. {{ fc[controlName].errors?.minlength.requiredLength }} caracteres
  </span>
</ion-item>

